
[Desktop Entry]
Name=lookup Version 0.1
Comment=lookup Version 0.1
Exec=lookup
Icon=/usr/local/share/pixmaps/lookup/ 
Terminal=false
MultipleArgs=false
Type=Application

